body{
    font-family: 'Raleway';
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(36, 36, 36);
}
.planCard{
    color: black;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}
h2{
    color: rgb(230, 230, 230);
}
span {
    color: rgb(255, 0, 0);
}
#mobile{
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom, #38aa5e, #bdc3c7);
}
#basic{
    padding-top: 31px;
    padding-bottom: 20px ;
    background-image: linear-gradient(to bottom, #7538aa, #bdc3c7);

}
#standard{
    padding-top: 19px;
    padding-bottom: 13px;
    background-image: linear-gradient(to bottom, #2c3e50, #bdc3c7);

}
#premium{
    padding-top: 7px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #aa389b, #bdc3c7);

}
.planCard:hover{
    box-shadow: 0px 0px 30px #ffffff98;
}